{% extends "base.html" %}
{% block content %}
    <script src="/media/CodeMirror-2.24/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/media/CodeMirror-2.24/lib/codemirror.css">
    <script src="/media/CodeMirror-2.24/mode/clike/clike.js"></script>


    <form action="/source/login" method="POST">
        {% csrf_token %}
        {% if login %}
            <input type="submit" name="submit" value="logout"/>
        {% else %}
            User: <input name="name" value="{{ user }}"/>
            Password: <input name="password"/>
            <input type="submit" name="submit" value="register"/>
            <input type="submit" name="submit" value="login"/>
        {% endif %}
    </form>

<br/>
{% if login %}
<form action="/upload/code" method="POST">
        {% csrf_token %}
        User: {{ login }} <br/>
        Code: <textarea id="code" name="code">
        {{ source }}
        </textarea>
    <input type="submit" value="Submit">
    </form>

    <div>
        Source: {{ source }}
    </div>
    <div>
        Result: {{ result }}
    </div>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers:true,
            matchBrackets:true,
            mode:"text/x-java"
        });
    </script>
{% endif %}


{% endblock %}

